<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
<br>
<br>
<br>

<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
      <div id="post-cheet">
        <form action="/cheets" method="post" id="cheets">
          Message <input type="text" name="message" id="box">
          <input type="hidden" name="user_id" id="user_id"value="1">
          <input type="submit" value="Post Cheet">
        </form>
      </div>
  </div>
</div>

<ul>
  <% @cheets.each do |cheet| %>
  <% @users.each do |user| %>
  <li><%= user.name %> - <%= user.username%> - Posted on <%= cheet.created_at %>
  </br>
  <%= cheet.message %></br></br></li>
  <% end %>
  <% end %>
</ul>