<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="error">
    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with your registration:
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    </div>





    <%= yield %>

    <br>
    <br>
    <a href="http://localhost:9292">RACKUP</a>

  </body>
</html>
