<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>

  <body>
  
  <header>
    <div class="top">
      <img src="images/cheetah.png">
      <h1> CHEET-R</h1>
      <form id="sign-up" method="get" action="/users/new">
        <input type="submit" value="Sign up" id="sign-up">
      </form>
      <form id="log-in" method="get" action="/sessions/new">
        <input type="submit" value="Log in" id="log-in">
      </form>
    </div>
  </header>

    <br>
    <br>
    <div class="error">
    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with your registration:
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    </div>





    <%= yield %>

    <br>
    <br>
    <a href="http://localhost:9292">RACKUP</a>

  </body>
</html>
